<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>7fonts.ru_ChinaCyr.ttf</string>
		<string>Druk Wide Cyr Medium.otf</string>
		<string>Druk XXCondensed Cyr Super.otf</string>
		<string>RampartOne-Regular.ttf</string>
		<string>RobotoMono-VariableFont_wght.ttf</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Уведомления используются для напоминания о ежедневном знаке дня</string>
</dict>
</plist>
